DB_DRIVER=postgres
DB_CONNECTION="postgres://user:pass@localhost:5432/dbname?sslmode=disable"
SERVER_PORT=3333

JWT_ACCESS_TOKEN_KEY=youAccessTokenKey
JWT_REFRESH_TOKEN_KEY=youRefreshTokenKey
JWT_ACCESS_TOKEN_DURATION=0m
JWT_REFRESH_TOKEN_DURATION=0h
